.c1 {
  background-color: aqua;
  color: red;
}

.c3 {
  color: rgb(5, 9, 231);
}

.c4 {
  color: rgb(60, 250, 2);
}

.c5 {
  color: rgb(243, 9, 28);
}

.c6 {
  font-size: 30px;
}

.c7 {
  background-color: cyan;
}
